### pandas提供了一些用于将表格型数据读取为DataFrame对象的函数，期中read_csv和read_table这两个使用最多

首先使用linux指令查看文本文件 !cat

使用read_csv将其读入

In [2]:
import pandas as pd
from pandas import Series,DataFrame

import numpy as np

In [3]:
# SMSSpanCollection 文件，没有标题
sms = pd.read_csv('./data/SMSSpamCollection',sep = '\t',header = None)
sms.columns = ['label','message']
sms

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
10     ham  I'm gonna be home soon and i don't want to tal...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
12    spam  URGENT! You have won a 1 week FREE membership ...
13     ham  I've been searching for the right words to tha...
14     ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15    spam  XXXMobileMovieClub: To use your credit, click ...
16     ham                         Oh k...i'm watching here:)
17     ham  Eh u remember how 2 spell his name... Yes i di...
18     ham  Fine if thats the way u feel. Thats the way ...
19    spam  England v Macedonia - dont miss the goals/team...
20     ham          Is that seriously how you spell his name?
21     ham    I‘m going to try for 2 months ha ha only joking
22     ham  So ü pay first lar... Then when is da stock co...
23     ham  Aft i finish my lunch then i go str down lor. ...
24     ham  Ffffffffff. Alright no way I can meet up with ...
25     ham  Just forced myself to eat a slice. I'm really ...
26     ham                     Lol your always so convincing.
27     ham  Did you catch the bus ? Are you frying an egg ...
28     ham  I'm back &amp; we're packing the car now, I'll...
29     ham  Ahhh. Work. I vaguely remember that! What does...
...    ...                                                ...
5542   ham           Armand says get your ass over to epsilon
5543   ham             U still havent got urself a jacket ah?
5544   ham  I'm taking derek &amp; taylor to walmart, if I...
5545   ham      Hi its in durban are you still on this number
5546   ham         Ic. There are a lotta childporn cars then.
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5548   ham                 No, I was trying it all weekend ;V
5549   ham  You know, wot people wear. T shirts, jumpers, ...
5550   ham        Cool, what time you think you can get here?
5551   ham  Wen did you get so spiritual and deep. That's ...
5552   ham  Have a safe trip to Nigeria. Wish you happines...
5553   ham                        Hahaha..use your brain dear
5554   ham  Well keep in mind I've only got enough gas for...
5555   ham  Yeh. Indians was nice. Tho it did kane me off ...
5556   ham  Yes i have. So that's why u texted. Pshew...mi...
5557   ham  No. I meant the calculation is the same. That ...
5558   ham                             Sorry, I'll call later
5559   ham  if you aren't here in the next  &lt;#&gt;  hou...
5560   ham                  Anything lor. Juz both of us lor.
5561   ham  Get me out of this dump heap. My mom decided t...
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5563   ham                                Ard 6 like dat lor.
5564   ham  Why don't you wait 'til at least wednesday to ...
5565   ham                                       Huh y lei...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

使用read_table读取

In [4]:
pd.read_table('./data/SMSSpamCollection',header = None)

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
10     ham  I'm gonna be home soon and i don't want to tal...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
12    spam  URGENT! You have won a 1 week FREE membership ...
13     ham  I've been searching for the right words to tha...
14     ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15    spam  XXXMobileMovieClub: To use your credit, click ...
16     ham                         Oh k...i'm watching here:)
17     ham  Eh u remember how 2 spell his name... Yes i di...
18     ham  Fine if thats the way u feel. Thats the way ...
19    spam  England v Macedonia - dont miss the goals/team...
20     ham          Is that seriously how you spell his name?
21     ham    I‘m going to try for 2 months ha ha only joking
22     ham  So ü pay first lar... Then when is da stock co...
23     ham  Aft i finish my lunch then i go str down lor. ...
24     ham  Ffffffffff. Alright no way I can meet up with ...
25     ham  Just forced myself to eat a slice. I'm really ...
26     ham                     Lol your always so convincing.
27     ham  Did you catch the bus ? Are you frying an egg ...
28     ham  I'm back &amp; we're packing the car now, I'll...
29     ham  Ahhh. Work. I vaguely remember that! What does...
...    ...                                                ...
5542   ham           Armand says get your ass over to epsilon
5543   ham             U still havent got urself a jacket ah?
5544   ham  I'm taking derek &amp; taylor to walmart, if I...
5545   ham      Hi its in durban are you still on this number
5546   ham         Ic. There are a lotta childporn cars then.
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5548   ham                 No, I was trying it all weekend ;V
5549   ham  You know, wot people wear. T shirts, jumpers, ...
5550   ham        Cool, what time you think you can get here?
5551   ham  Wen did you get so spiritual and deep. That's ...
5552   ham  Have a safe trip to Nigeria. Wish you happines...
5553   ham                        Hahaha..use your brain dear
5554   ham  Well keep in mind I've only got enough gas for...
5555   ham  Yeh. Indians was nice. Tho it did kane me off ...
5556   ham  Yes i have. So that's why u texted. Pshew...mi...
5557   ham  No. I meant the calculation is the same. That ...
5558   ham                             Sorry, I'll call later
5559   ham  if you aren't here in the next  &lt;#&gt;  hou...
5560   ham                  Anything lor. Juz both of us lor.
5561   ham  Get me out of this dump heap. My mom decided t...
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5563   ham                                Ard 6 like dat lor.
5564   ham  Why don't you wait 'til at least wednesday to ...
5565   ham                                       Huh y lei...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
# ;,.-
# 指明sep，分开
pd.read_csv('./type-.txt',sep = '-',header = None)

    0   1    2
0  你好  我好  他也好
1  也许  大概  有可能
2  然而  未必  不见得

读取sqlite文件

导包sqlite3

In [7]:
import sqlite3

In [8]:
conn = sqlite3.connect('./data.sqlite')

读取table  
 pd.read_sql("sql语句", con)

In [9]:
df_weather = pd.read_sql('select * from Weather_2017',conn)
df_weather

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,28,2012-01-02 04:00:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,29,2012-01-02 05:00:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...
26322,8754,2012-12-30 18:00:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
26323,8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
26324,8756,2012-12-30 20:00:00,-13.8,-16.5,80,24,25.0,101.52,Clear
26325,8757,2012-12-30 21:00:00,-13.8,-16.5,80,20,25.0,101.50,Mainly Clear
26326,8758,2012-12-30 22:00:00,-13.7,-16.3,81,19,25.0,101.54,Mainly Clear
26327,8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
26328,8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy
26329,8761,2012-12-31 01:00:00,-10.7,-14.0,77,15,25.0,101.50,Cloudy
26330,8762,2012-12-31 02:00:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
26331,8763,2012-12-31 03:00:00,-11.8,-14.4,81,6,25.0,101.42,Mostly Cloudy
26332,8764,2012-12-31 04:00:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
26333,8765,2012-12-31 05:00:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
26334,8766,2012-12-31 06:00:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy
26335,8767,2012-12-31 07:00:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
26336,8768,2012-12-31 08:00:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
26337,8769,2012-12-31 09:00:00,-8.1,-9.6,89,4,2.4,101.09,Snow
26338,8770,2012-12-31 10:00:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
26339,8771,2012-12-31 11:00:00,-6.7,-7.9,91,9,9.7,100.93,Snow
26340,8772,2012-12-31 12:00:00,-5.8,-7.5,88,4,12.9,100.78,Snow
26341,8773,2012-12-31 13:00:00,-4.6,-6.6,86,4,12.9,100.63,Snow
26342,8774,2012-12-31 14:00:00,-3.4,-5.7,84,6,11.3,100.57,Snow
26343,8775,2012-12-31 15:00:00,-2.3,-4.6,84,9,9.7,100.47,Snow
26344,8776,2012-12-31 16:00:00,-1.4,-4.0,82,13,12.9,100.40,Snow
26345,8777,2012-12-31 17:00:00,-1.1,-3.3,85,19,9.7,100.30,Snow
26346,8778,2012-12-31 18:00:00,-1.3,-3.1,88,17,9.7,100.19,Snow
26347,8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
26348,8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
26349,8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
26350,8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
26351,8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [16]:
df_weather.shape

(26352, 9)

设置行索引index_col

写入sql文件

In [18]:
df_weather.dtypes

index                   int64
Date/Time              object
Temp (C)              float64
Dew Point Temp (C)    float64
Rel Hum (%)             int64
Wind Spd (km/h)         int64
Visibility (km)       float64
Stn Press (kPa)       float64
Weather                object
dtype: object

In [21]:
df_weather['Date/Time'] = pd.to_datetime(df_weather['Date/Time'],format='%d/%m/%Y')

In [23]:
df_weather.dtypes

index                          int64
Date/Time             datetime64[ns]
Temp (C)                     float64
Dew Point Temp (C)           float64
Rel Hum (%)                    int64
Wind Spd (km/h)                int64
Visibility (km)              float64
Stn Press (kPa)              float64
Weather                       object
dtype: object

In [24]:
df_weather.to_csv('./weather.csv')

In [25]:
df_weather.to_json('./weather.json')

In [39]:
pd.read_json('./weather.json').sort_index()

       index      Date/Time  Temp (C)          ...           Visibility (km)  Stn Press (kPa)               Weather
0          0  1325376000000      -1.8          ...                       8.0           101.24                   Fog
1          1  1325379600000      -1.8          ...                       8.0           101.24                   Fog
2          2  1325383200000      -1.8          ...                       4.0           101.26  Freezing Drizzle,Fog
3          3  1325386800000      -1.5          ...                       4.0           101.27  Freezing Drizzle,Fog
4          4  1325390400000      -1.5          ...                       4.8           101.23                   Fog
5          5  1325394000000      -1.4          ...                       6.4           101.27                   Fog
6          6  1325397600000      -1.5          ...                       6.4           101.29                   Fog
7          7  1325401200000      -1.4          ...                       8.0           101.26                   Fog
8          8  1325404800000      -1.4          ...                       8.0           101.23                   Fog
9          9  1325408400000      -1.3          ...                       4.0           101.20                   Fog
10        10  1325412000000      -1.0          ...                       1.2           101.15                   Fog
11        11  1325415600000      -0.5          ...                       4.0           100.98                   Fog
12        12  1325419200000      -0.2          ...                       4.8           100.79                   Fog
13        13  1325422800000       0.2          ...                       4.8           100.58                   Fog
14        14  1325426400000       0.8          ...                       4.8           100.31                   Fog
15        15  1325430000000       1.8          ...                       6.4           100.07                   Fog
16        16  1325433600000       2.6          ...                      12.9            99.93         Mostly Cloudy
17        17  1325437200000       3.0          ...                      16.1            99.81                Cloudy
18        18  1325440800000       3.8          ...                      12.9            99.74                  Rain
19        19  1325444400000       3.1          ...                      12.9            99.68                  Rain
20        20  1325448000000       3.2          ...                      25.0            99.50                Cloudy
21        21  1325451600000       4.0          ...                      25.0            99.39                Cloudy
22        22  1325455200000       4.4          ...                      19.3            99.32          Rain Showers
23        23  1325458800000       5.3          ...                      25.0            99.31                Cloudy
24        24  1325462400000       5.2          ...                      25.0            99.26          Rain Showers
25        25  1325466000000       4.6          ...                      25.0            99.26                Cloudy
26        26  1325469600000       3.9          ...                      25.0            99.26         Mostly Cloudy
27        27  1325473200000       3.7          ...                      25.0            99.30         Mostly Cloudy
28        28  1325476800000       2.9          ...                      25.0            99.26         Mostly Cloudy
29        29  1325480400000       2.6          ...                      25.0            99.21         Mostly Cloudy
...      ...            ...       ...          ...                       ...              ...                   ...
26322   8754  1356890400000     -12.6          ...                      25.0           101.36          Mainly Clear
26323   8755  1356894000000     -13.4          ...                      25.0           101.47          Mainly Clear
26324   8756  1356897600000     -13.8          ...                      25.0           101.52                 Clear
26325   8757  1356901200000     -13.8          ...                      25.0           101.50          Mainly Clear
26326   8758  1356904800000     -13.7          ...                      25.0           101.54          Mainly Clear
26327   8759  1356908400000     -12.1          ...                      25.0           101.52         Mostly Cloudy
26328   8760  1356912000000     -11.1          ...                      25.0           101.51                Cloudy
26329   8761  1356915600000     -10.7          ...                      25.0           101.50                Cloudy
26330   8762  1356919200000     -10.1          ...                      25.0           101.45                Cloudy
26331   8763  1356922800000     -11.8          ...                      25.0           101.42         Mostly Cloudy
26332   8764  1356926400000     -10.5          ...                      25.0           101.34                Cloudy
26333   8765  1356930000000     -10.2          ...                      25.0           101.28                Cloudy
26334   8766  1356933600000      -9.7          ...                      25.0           101.23                Cloudy
26335   8767  1356937200000      -9.3          ...                      19.3           101.19          Snow Showers
26336   8768  1356940800000      -8.6          ...                       3.2           101.14          Snow Showers
26337   8769  1356944400000      -8.1          ...                       2.4           101.09                  Snow
26338   8770  1356948000000      -7.4          ...                       6.4           101.05              Snow,Fog
26339   8771  1356951600000      -6.7          ...                       9.7           100.93                  Snow
26340   8772  1356955200000      -5.8          ...                      12.9           100.78                  Snow
26341   8773  1356958800000      -4.6          ...                      12.9           100.63                  Snow
26342   8774  1356962400000      -3.4          ...                      11.3           100.57                  Snow
26343   8775  1356966000000      -2.3          ...                       9.7           100.47                  Snow
26344   8776  1356969600000      -1.4          ...                      12.9           100.40                  Snow
26345   8777  1356973200000      -1.1          ...                       9.7           100.30                  Snow
26346   8778  1356976800000      -1.3          ...                       9.7           100.19                  Snow
26347   8779  1356980400000       0.1          ...                       9.7           100.13                  Snow
26348   8780  1356984000000       0.2          ...                       9.7           100.03                  Snow
26349   8781  1356987600000      -0.5          ...                       4.8            99.95                  Snow
26350   8782  1356991200000      -0.2          ...                       9.7            99.91                  Snow
26351   8783  1356994800000       0.0          ...                      11.3            99.89                  Snow

[26352 rows x 9 columns]

In [26]:
df_weather.to_html('./weather.html')

In [10]:
df_weather.to_sql('Weather_2018',conn)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [11]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [30]:
conn = pymysql.connect(host = 'localhost',port = 3306,user = 'softpo',password = 'root',db = 'books',charset='utf8')
conn

In [32]:
book = pd.read_sql('select * from shu limit 30',conn)
book.shape

(30, 5)

In [33]:
# 向mysql中写入数据
book.to_sql('read',conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [34]:
from sqlalchemy import create_engine  
  
##将数据写入mysql的数据库，但需要先通过sqlalchemy.create_engine建立连接,且字符编码设置为utf8，否则有些latin字符不能处理  
conn = create_engine('mysql+mysqldb://softpo:root@localhost:3306/books?charset=utf8')  

book.to_sql('read',conn,index=False,if_exists='append')

C:\Users\softpo.DESKTOP-PN692CT\Anaconda3\lib\site-packages\sqlalchemy\engine\default.py:507: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  cursor.execute(statement, parameters)

根据url获取网络上的数据

In [35]:
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'

df = pd.read_csv(url)
df

          Date  Total Equity  Domestic Equity  World Equity  ...    Total Bond  Taxable Bond  Municipal Bond  Total
0   2012-12-05         -7426            -6060         -1367  ...          5317          4210            1107  -2183
1   2012-12-12         -8783            -7520         -1263  ...          1818          1598             219  -6842
2   2012-12-19         -5496            -5470           -26  ...           103          3472           -3369  -5466
3   2012-12-26         -4451            -4076          -375  ...          2610          3333            -722  -1291
4   2013-01-02        -11156            -9622         -1533  ...          2383          2103             280  -8931
5   2013-01-09         14817             7995          6821  ...          9766          7311            2455  27471
6   2014-04-02          3155              938          2217  ...          3379          3129             250   6799
7   2014-04-09          5761             2080          3681  ...          1609          1448             161   8852
8   2014-04-16          2286              634          1652  ...           633           604              29   4105
9   2014-04-23          3530             1392          2138  ...          1984          1453             531   6753
10  2014-04-30         -3890            -3996           106  ...           888           559             329  -2242
11  2014-05-07           632            -2006          2639  ...          5493          4417            1076   5785
12  2014-05-14         -1079            -2321          1242  ...          4037          3141             897   4146
13  2014-05-21           697            -1790          2487  ...          2196          1398             798   4109
14  2014-05-28         -2453            -2603           150  ...          2041          1236             805    696
15  2014-06-04          2098            -1148          3246  ...           188          -470             658   3409
16  2014-06-11          1236            -1840          3075  ...          2112          1587             524   4506
17  2014-06-18          -922            -2204          1282  ...          4159          3740             419   4297
18  2014-06-25           -93            -1354          1262  ...          3256          2694             562   4409
19  2014-07-02         -7835            -8887          1052  ...          2979          2704             276  -4220
20  2014-07-09           666            -1070          1736  ...          2721          3203            -482   4393
21  2014-07-30           118            -1171          1290  ...          1806          1119             687   2949
22  2014-08-06          -471            -3073          2602  ...         -8193         -8658             465  -9040
23  2014-08-13           320             -974          1294  ...          1436           539             897   2252
24  2014-08-20          2671              738          1933  ...          4999          4185             814   8490
25  2014-08-27          -577            -2199          1623  ...          3655          2921             734   4021
26  2014-09-03         -4024            -5305          1281  ...          2430          1768             661  -1050
27  2014-09-10          1257            -1291          2548  ...          1554           711             843   3866
28  2014-11-05           -32            -1634          1602  ...          5813          5284             529   5604
29  2014-11-12          1464               61          1403  ...          3596          2703             893   6023
30  2014-11-19         -3010            -3622           611  ...          2529          1758             771   -383
31  2014-11-25         -1175            -2044           869  ...          2590          1821             769   1258
32  2015-01-07         -3913            -5438          1525  ...         -3403         -4729            1326  -8373
33  2015-01-14          1774              -37          1811  ...          3549          2582             967   5572
34  2015-01-21          1267              856           411  ...          1258           220            1038   3315
35  2015-01-28          4343             3455           888  ...          5964          4689            1275  12055
36  2015-02-04          4240             3536           703  ...          3237          2274             963   8270
37  2015-02-11          1268              -27          1296  ...          5862          5169             693   8089
38  2015-03-04           999            -1933          2932  ...          4984          4309             675   6511
39  2015-03-11          3911               -7          3918  ...          1298           999             298   6059
40  2015-03-18          1948            -1758          3706  ...           452           258             194   3312
41  2015-03-25         -1167            -4478          3311  ...          2404          1701             703   1775
42  2015-04-01         -1527            -3307          1780  ...         -1296         -1392              96  -2103
43  2015-04-08          1906            -1321          3227  ...          1719          1906            -187   3875

[44 rows x 9 columns]